@tailwind base;
@tailwind components;
@tailwind utilities;

@url ("https://fonts.googleapis.com/css?family=Pacifico");
@url ("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap");

.easy-label {
  --tw-bg-opacity: 0.2;
  background-color: rgba(5, 150, 105, var(--tw-bg-opacity));
  border: 2px solid #059669;
  color: #059669;
}
.easy-label-active {
  --tw-bg-opacity: 0.6;
  background-color: rgba(5, 150, 105, var(--tw-bg-opacity));
  border: 2px solid #059669;
  color: #059669;
  box-shadow: 0 0 15px rgba(5, 150, 105, var(--tw-bg-opacity));
}
.medium-label {
  --tw-bg-opacity: 0.2;
  background-color: rgba(234, 179, 8, var(--tw-bg-opacity));
  border: 2px solid #eab308;
  color: #eab308;
}
.medium-label-active {
  --tw-bg-opacity: 0.6;
  background-color: rgba(234, 179, 8, var(--tw-bg-opacity));
  border: 2px solid #eab308;
  color: #eab308;
  box-shadow: 0 0 15px rgba(234, 179, 8, var(--tw-bg-opacity));
}
.hard-label {
  --tw-bg-opacity: 0.2;
  background-color: rgba(220, 38, 38, var(--tw-bg-opacity));
  border: 2px solid #dc2626;
  color: #dc2626;
}
.hard-label-active {
  --tw-bg-opacity: 0.6;
  background-color: rgba(220, 38, 38, var(--tw-bg-opacity));
  border: 2px solid #dc2626;
  color: #dc2626;
  box-shadow: 0 0 15px rgba(220, 38, 38, var(--tw-bg-opacity));
}

.card-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.btn-submit {
  background-color: rgb(17, 39, 21);
  border: 3px solid rgb(47, 66, 50);
  transition: background-color 0.3s, border-color 0.3s;
  color: white;
}

.btn-submit:hover {
  background-color: rgb(77, 93, 80);
  border: 3px solid rgb(47, 66, 50);
  color: white;
}

@media (max-width: 640px) {
  .card-shadow {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
}
